<IfModule mod_rewrite.c>
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^simples/?$ simples.php
RewriteRule ^index/?$ index.php
RewriteRule ^empresa/?$ empresa.php
RewriteRule ^noticias/?$ noticias.php
RewriteRule ^noticias/pg/([a-z0-9-]*)\/?$ noticias.php?pg=$1
RewriteRule ^contato/?$ contato.php
RewriteRule ^obras-entregues/?$ obras-entregues.php
RewriteRule ^lancamentos/?$ lancamentos.php
RewriteRule ^acompanhe-sua-obra/?$ acompanhe-sua-obra.php
RewriteRule ^obras-em-andamento/?$ obras-em-andamento.php
RewriteRule ^associados/?$ associados.php
RewriteRule ^parametro_string/pg/([a-z0-9-]*)\/?$ parametro_string.php?pg=$1
RewriteRule ^parametro_int\/?([1-9]*)\/?$ parametro_int.php?qs_pg2805=$1
RewriteRule ^lancamentos-modena/?$ lancamentos-modena.php
</IfModule>
